*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:linear-gradient(to right, rgba(0, 28, 87, 0.5), rgba(57, 3, 143, 0.5) );
}

.header{
    height: 10vh;
    text-align: center;
    color: #fff;
    padding: 20px;
    

}